// PortfolioItem.scss

.portfolio-item {
    display: flex;
    margin-bottom: 20px;
  
    .description {
      flex: 1;
      padding: 20px;
    }

    h2 {
        color: #ff9950;
        margin-top: 20px;
        font-weight: bolder;
        font-size: 25px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.5s backwards;
    }
    
    p {
        color: #dad7d8;
        margin-top: 20px;
        font-weight: 400;
        font-size: 15px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 2s 1.8s backwards;
    }
  
    .image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        max-width: 75%;
        height: auto;
        border-radius: 10px;
      }
    }

    .image {
        position: relative;

        .overlay {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 110%;
            height: 110%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease; // Smooth transition for opacity
            justify-content: center;
            align-items: center;
    
            &.show {
                display: block;
                opacity: 1;
            }
      
            img {
                position: relative;
                transform: translate(-50%, -50%); // Adjust to center
              top: 50%; // Center vertically
              left: 50%; // Center horizontally
              max-width: 90%;
              max-height: 90%;
            }
        }

    }


    .urls {
        margin-top: 20px;
        padding: 10px;
        background-color: #ff9950; 
        border-radius: 10px; // Rounded borders
        animation: zoomIn 1s 2s ease-in-out backwards;
      }
    
      .urls a {
        display: block;
        font-family: 'Coolvetica';
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 5px;
        color: #333; // Text color
        text-decoration: none; // Remove underline
        padding: 5px;
        border-radius: 5px; // Rounded borders for links
        transition: background-color 0.3s ease; // Smooth transition for background color
      }
    
      .urls a:hover {
        background-color: rgba(255, 255, 255, 0.8); // Lighten background on hover
      }
}
  